<h1> Salon Dashboard</h1>

<button type="button" name="stylists"><a href="/stylists" id="stylists">Manage Stylists</a></button>
<br>
<button type="button" name="clients"><a href="/clients" id="clients">Manage Clients</a></button>
