<div class="container">
  <div class="col-md-6">
    <a href="/stylists" id="stylists"><img class="photo" src="img/stylist.jpg" alt="a photo of a hair stylist"></a>
    <h2>Manage Stylists</h2>
  </div>
  <div class="col-md-6">
    <a href="/clients" id="clients"><img class="photo" src="img/client.jpg" alt="a photo of a woman with colorful hair"></a>
    <h2>Manage Clients</h2>
  </div>
</div>
