<h1> Edit <%= @stylist.name() %>'s Info: </h1>

<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <label for="name">Stylist Name:</label>
    <input type = "text" name="name" id="name">
  <div>
  <div class="form_group">
    <label for="station">Station:</label>
    <input type="text" name="station" id="station">
  </div>
  <br><button type="submit" class="btn btn-large">Update</button><br>

</form>
<br>
<form action="/stylists/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-large">Delete this stylist</button>
</form>
<br>
<button type= "button" class="btn btn-large"><a href="/stylists">Back to Manage Stylists</a></button>
