<h1> Stylist Information </h1>

<h3>Name: <%= @stylist.name() %></h3>

<h3>Station: <%= @stylist.station() %></h3>


<h3>Clients:</h3>
  <ul>
    <% @clients.each do |client| %>
      <li><%= client.name %></li>
    <% end %>
  </ul>


<button type='button' class="btn btn-large"><a href='/stylists/<%= @stylist.id() %>/edit'>Edit or Delete</a></button>

<button type='button' class="btn btn-large"><a href="/stylists">Back to Manage Stylists</a></button>
