<h1> Manage Your Stylists</h1>
<br>
<% if @stylists.any?() %>
<ul>
  <% @stylists.each do |stylist| %>
  <li><%= stylist.name() %>
    <button type='button'><a href='/stylists/<%= stylist.id() %>'>View Details</a></button>
  </li><br>
  <% end %>
</ul>
<% else %>
<h2> You don't have any stylists yet!</h2>
<% end %>

<button type='button'><a href='/stylists/new'>Add a New Stylist</a></button>

<button type='button'><a href='/'>Back Home</a></button>
