<h1> Manage Your Stylists</h1>

<% if @stylists.any?() %>
<ul>
  <% @stylists.each do |stylist| %>
  <li>Name: <%= stylist.name() %>, Station:<%= stylist.station() %>
  <button type='button'><a href='/stylists/<%= stylist.id() %>/edit'>Edit or Delete</a></button>
  </li><br>
  <% end %>
</ul>
<% else %>
<h2> You don't have any stylists yet!</h2>
<% end %>

<button type='button'><a href='/stylists/new'>Add a New Stylist</a></button>

<button type='button'><a href='/'>Back Home</a></button>
